.common{
    /* border: 2px solid antiquewhite; */
    position: absolute;
}
.nav{
    position:relative;
    float: right;
    font-size: 75%;
}
.footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 50%;
    font-style: italic;
    text-align: center;
    background-color: rgba(255, 235, 205, 0.427);
}
.header{
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    z-index: -1;
    color: rgb(6, 54, 27);
    font: bold;
}
.content{
    top: 100px;
    left: 10%;
    right: 10%;
    background-color: rgba(255, 235, 205, 0.427);
}